html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.cw-icon__svg {
    color: #d1f1ff;
    margin-top: 0.1rem;
    font-size: 1.5rem;
}

.textFormat {
    color: #0070ba;
    font-family: 'Arial', sans-serif;
    font-size: 1.12rem;
    line-height: 1.1rem;
    font-weight: 400;
    text-decoration: solid;
    font-weight: bolder;
}

.buttonFormat {
    background-color: #0070ba;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .buttonFormat:hover {
        background-color: #00588a;
    }
